# Application
NODE_ENV=development
PORT=3000

# Database
POSTGRES_USER=maradentro_user
POSTGRES_PASSWORD=maradentro_password
POSTGRES_DB=maradentro_db
DATABASE_URL="postgresql://maradentro_user:maradentro_password@localhost:5432/maradentro_db?schema=public"

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d
